
<%
var top_title = table.top_title;
var headers = table.header;
%>

<% for(var i=0; i<headers.length; ++i) { var title = headers[i]; %>
<th class="rotate"><div><span><%= title %></span></div></th>
<%}%>