<%- include functions.ejs %>

<% var class_conv = data.converged ? "success" : "danger" %>

<td class=" <%= class_conv%> "><%= data.iterations %></td>
<td class=" <%= class_conv%> "><%= data.fitness_called %></td>
<td class=" <%= class_conv%> "><%= data.converged %></td>
<td class=" <%= class_conv%> "><%= formatNumber(data.best_f_fopt) %></td>
<td class=" <%= class_conv%> "><%= formatNumber(data.average_f_opt) %></td>
<td class=" <%= class_conv%> "><%= data.best_opt_heming %></td>
<td class=" <%= class_conv%> "><%= formatNumber(data.best_opt_evklid) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.errors_0) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.errors_1) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.errors_2) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.errors_3) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.errors_4) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.errors_5_more) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.distance_0) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.distance_1) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.distance_2) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.distance_3) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.distance_4) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.distance_5_more) %></td>