<%- include functions.ejs %>

<th><%= legend.l %></th>
<th><%= legend.N %></th>
<th><%= legend.encoding %></th>
<th><%= legend.selection %></th>
<th><%= legend.mutation %></th>
<th><%= formatProbability(legend.p_max) %></th>
<th><%= legend.p_max_coef %></th>
<th><%= formatProbability(legend.p) %></th>