<%- include functions.ejs %>

<% var class_conv = data.average_converges >= 0.5 ? "success" : "danger" %>
<td class="warning"><%= Math.round(data.average_iterations) %></td>
<td class=" <%= class_conv%> "><%= formatErrors(data.average_converges) %></td>
<td class="warning"><%= formatNumber(data.average_average) %></td>
<td class="warning"><%= formatNumber(data.best_average) %></td>
<td class="warning"><%= formatNumber(data.best_f) %></td>
<% if(!short) {%>

<td class="warning"><%= JSON.stringify(data.best.map(function(n){
        return n.toFixed(2);
    })) %></td>
<%}%>

