<html>
<%
 function workName(variant){
     return variant;
     if(variant == "Variant1") {
         return "Варіант 1. Сіренко Діана"
     } else {
         return "Варіант 2. Чайка Андрій"
     }
 }

 function taskName(N){
     return "Розмірність " + N;
 }

   %>
<head lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <style>
        th, td {
            text-align: center;
            font-size: 8px;
        }
        * {
            font-size: 10px;
        }
    </style>
</head>
<body style="padding-bottom: 40px;">
    <div class="container">

        <div class="row">
            <div class="col-xs-4" style="padding-top: 20px">
                <button class="btn btn-primary run">Запустити</button>
                <div class="form-group">
                    <label>Розмірність задачі</label>
                    <input id="variables" type="text" class="form-control" value="5" />
                </div>
                <div class="form-group">
                    <label>Розмір популяції</label>
                    <input id="population" type="text" class="form-control" value="100" />
                </div>
                <div class="form-group">
                    <label>Кількість ітерацій</label>
                    <input id="iterations" type="text" class="form-control" value="100000" />
                </div>
                <div class="form-group">
                    <label>Статистика кожні ітерацій</label>
                    <input id="statistics" type="text" class="form-control" value="5000" />
                </div>
                <div class="form-group">
                    <label>Імоврінсть мутації [0-1]</label>
                    <input id="probability" type="text" class="form-control" value="0.00001" />
                </div>
                <div class="form-group">
                    <label>Кодування та мутація</label>
                    <select id="encoding" class="form-control">
                        <option value="EncodingBinaryGray">Кодування грея, побітова мутація</option>
                        <option value="EncodingBinaryBinary">Кодування двійкове, побітова мутація</option>
                        <option value="EncodingRealLinear">Кодування дійсні числа, лінійна мутація</option>
                        <option value="EncodingRealGauss">Кодування дійсні числа, гаусова мутація</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Відбір</label>
                    <select id="selection" class="form-control">
                        <option value="SelectionSUS">SUS</option>
                        <option value="SelectionRWS">Рулетка</option>
                    </select>
                </div>
                <button class="btn btn-primary run">Запустити</button>
            </div>
            <div class="col-xs-8">
                <h3><%= workName(variant) %></h3>
                <div id="general-result">

                </div>
                <div id="results">

                </div>
            </div>
        </div>
    </div>
<script>
    window.VARIANT = "<%= variant %>";
</script>
<script src="gui.js"></script>
</body>
</html>