<% var RUNS = 10; %>
<% var LEGEND_PART = {
    top_title: "Модифікація",
    header: [
        "Довжина ланцюжка",
        "Розмір популяції",
        "Кодування",
        "Відбір",
        "Мутація",
        "Pmax",
        "Імоврінсть мутації",
        "Імоврінсть мутації"
    ]
}%>

<% var AVERAGE_PART = {
    top_title: "Середнє значення",
    header: [
        "Середня кількість ітерації",
        "Збіжність",
        "Середнє середнє",
        "Середнє найкраще",
        "Пристосованість найкращого",
        "Найкращий"
    ]
}%>

<% if(short) {
    AVERAGE_PART.header = AVERAGE_PART.header.slice(0, AVERAGE_PART.header.length - 1);
}%>

<% var RUN_FIELDS = [
    "Ітерації",
    "Виклики фун. пристосованості",
    "Збіжність",
    "Відхилення найкращого",
    "Відхилення середнього",
    "Хемінгова відстань найкращого",
    "Евклідова відстань найкращого",
    "0 Помилок",
    "1 Помилка",
    "2 Помилки",
    "3 Помилки",
    "4 Помилки",
    "5+ Помилок",
    "0.00 відхилення",
    "0.01 відхилення",
    "0.02 відхилення",
    "0.03 відхилення",
    "0.04 відхилення",
    "0.05+ відхилення"
]%>

<% var table = null;%>


<table class="table table-hover table-bordered table-striped table-condensed">

    <thead>
        <tr>
            <% table = LEGEND_PART%>
            <%- include table/headers_top_part.ejs %>
            <% table = AVERAGE_PART%>
            <%- include table/headers_top_part.ejs %>

            <% if(!short) { %>
            <% for(var i=1; i<=RUNS; ++i){%>
            <% table = {top_title: "Запуск " + i, header: RUN_FIELDS}%>
            <%- include table/headers_top_part.ejs %>
            <%}%>
            <%}%>
        </tr>
        <tr>
            <% table = LEGEND_PART%>
            <%- include table/headers_bottom_part.ejs %>
            <% table = AVERAGE_PART%>
            <%- include table/headers_bottom_part.ejs %>

            <% if(!short) { %>
            <% for(var i=1; i<=RUNS; ++i){%>
            <% table = {top_title: "Запуск " + i, header: RUN_FIELDS}%>
            <%- include table/headers_bottom_part.ejs %>
            <%}%>
            <% } %>
        </tr>
    </thead>

    <tbody>
        <% for(var i=0; i<task.length; ++i) {
            var row = task[i];
        %>
        <tr>
            <%var legend = row.legend; %>
            <%- include table/show_legend.ejs %>

            <%var data = row.average; %>
            <%- include table/show_average.ejs %>

            <% if(!short) { %>
            <% for(var run=0; run<RUNS; ++run){ var data = row.runs[run];%>
            <%- include table/show_run.ejs %>
            <% } %>
            <% } %>
        </tr>

        <%}%>

    </tbody>
</table>