<html>
<%
function workName(variant){
    if(variant == "Variant1") {
        return "Варіант 1. Сіренко Діана"
    } else {
        return "Варіант 2. Чайка Андрій"
    }
}

 function taskName(N){
     return "Розмірність " + N;
 }

   %>
<head lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <style>
        .top-title {
            text-align: center;
        }
        .rotate {
            font-size: 7px;
            padding: 2px !important;
            text-align: center;
        }
        th, td {
            text-align: center;
            font-size: 10px;
        }

        @media print {
            th, td {
                text-align: center;
                font-size: 7px;
                padding: 1px !important;
            }
        <%if (!onePage) {%>
            table {page-break-after: always;}
            <%} else {%>
            h3 {
                margin: 0px!important;
                text-align: center;
                padding: 0px;
                font-size: 12px;
                margin-top: 10px!important;
            }
            table {
                margin: 0px!important;
            }
            th, td {
                text-align: center;
                font-size: 6px!important;
                padding: 0px !important;
            }
            <%}%>

        }
    </style>
</head>
<body>

    <div class="">
        <%if (onePage) {%>
        <h3><%= workName(variant) %></h3>
        <%}%>
    <% for(var vars in report) {%>
        <%if (!onePage) {%>
        <h2><%= workName(variant) %></h2>
        <%}%>

        <h3><%= taskName(vars) %></h3>
        <% var task = report[vars] %>
        <%- include one_task.ejs %>
    <% } %>

    </div>
</body>
</html>